@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color-light);
  color: var(--text-color-main);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.link {
  text-decoration: none;
  color: var(--text-color-main);
}

.list {
  list-style: none;
}

.addresses {
  font-style: normal;
}

.button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  width: 1200px;
  padding: 0px 12px;
  margin: 0 auto;
}

.section {
  padding: 94px 0px;
}

.section-heading {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-accent {
  color: var(--text-color-accent);
}

:root {
  --bg-color-light: #ffffff;
  --bg-color-dark: #2f303a;
  --bg-color-hero: #c4c4c4;
  --bg-color-accent: #f5f4fa;
  --text-color-main: #212121;
  --text-color-secondary: #757575;
  --text-color-accent: #2196f3;
  --text-color-additional: #ffffff;
  --text-color-special: rgba(255, 255, 255, 0.6);
  --button-color-hover: #188ce8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header-logo {
  margin-right: 93px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-point {
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  position: relative;
}

.navigation-point:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover, .navigation-link:focus {
  color: var(--text-color-accent);
}

.navigation-link::after {
  content: '';
  display: block;
  width: 0px;
  height: 4px;
  background-color: var(--text-color-accent);
  border-radius: 2px;
  position: absolute;
  bottom: -28px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover::after, .navigation-link:focus::after {
  width: 100%;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 30px;
}

.contacts-link {
  color: var(--text-color-secondary);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover, .contacts-link:focus {
  color: var(--text-color-accent);
}

.contacts-link:hover .contacts-logo,
.contacts-link:focus .contacts-logo {
  --color3: var(--button-color-hover);
}

.contacts-data {
  margin-left: 10px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter-element:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  border-radius: 4px;
  border-style: none;
  background: var(--bg-color-accent);
  color: var(--text-color-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  background: var(--text-color-accent);
  color: var(--text-color-additional);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ==== сетка */
.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-example {
  position: relative;
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-example:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 300px;
  left: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 294px;
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-image-wrapper:hover .portfolio-description-wrapper {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  top: 0;
}

.portfolio-description {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: var(--text-color-additional);
}

.portfolio-name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 20px 24px;
}

.portfolio-name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-type {
  color: var(--text-color-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.footer {
  padding: 60px 0px;
  background-color: var(--bg-color-dark);
  font-weight: 400;
  line-height: 1.71;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-addresses {
  margin-right: 70px;
}

.footer-logo {
  color: var(--text-color-additional);
}

.addresses {
  margin-top: 20px;
  font-style: normal;
  color: var(--text-color-additional);
}

.addresses-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addresses-point:not(:last-child) {
  margin-bottom: 9px;
}

.addresses-link {
  color: var(--text-color-special);
}

.company-social {
  margin-right: 93px;
}

.company-social-calling {
  color: var(--text-color-additional);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}

.company-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company-social-sites:not(:last-child) {
  margin-right: 10px;
}

.company-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.1);
  border-style: none;
  border-radius: 50%;
  margin-bottom: 30px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-social-links:hover, .company-social-links:focus {
  background-color: var(--text-color-accent);
}

.company-social-icon {
  height: 20px;
  width: 20px;
  --color4: var(--text-color-additional);
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 570px;
}

.subscription-calling {
  color: var(--text-color-additional);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.subscription-email {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
}

.subscription-icon {
  margin-left: 10px;
}

.active {
  color: var(--text-color-accent);
}

.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--text-color-accent);
  border-radius: 2px;
  position: absolute;
  bottom: -28px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=portfolio.css.map */