// ======= FEATURES start
.features-list {
  display: flex;
  justify-content: row;
}
.features-points {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.feautures-logo-wrapper {
  width: 270;
  height: 120;
  padding: 25px 100px;
  background: var(--bg-color-accent);
  border-style: none;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features-name {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-description {
  line-height: 1.71;
  color: var(--text-color-secondary);
}
// ======= FEATURES end
