// ======= HERO start
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--bg-color-hero);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../../images/mobi/header-img@2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color-additional);
}

.hero-heading {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../../images/tab/header-img@2x.jpg');
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../../images/desk/header-img@2x.jpg');
  }

  .hero-heading {
    font-size: 44px;
    line-height: 1.36;
  }
}
