:root {
  --bg-color-light: #ffffff;
  --bg-color-dark: #2f303a;
  --bg-color-hero: #c4c4c4;
  --bg-color-accent: #f5f4fa;
  --text-color-main: #212121;
  --text-color-secondary: #757575;
  --text-color-accent: #2196f3;
  --text-color-additional: #ffffff;
  --text-color-special: rgba(255, 255, 255, 0.6);
  --button-color-hover: #188ce8;
}
